@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");

body {
  margin: 0;
  font-family: "Yatra One", system-ui;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(54, 49, 190, 0.5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style-type: none;
  margin-top: 5px;
}